.App {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.add-form {
    padding: 20px;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.d-flex {
    position: absolute;
    left: 77.5%;

}

.add-book1 {
    text-align: center;
    width: 600px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #212529;
    color: white;
}

.book-link{
    text-decoration: none;
    color: rgb(209, 10, 10);
}